<div class="card">
  <div class="card-header h3">
    Add Category
  </div>

  <div class="card-body">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit.emit()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="categoryName" placeholder="category" formControlName="categoryName">
        <label for="categoryName" class="form-label">Category Name</label>
      </div>
    </form>
  </div>

  <div class="card-footer">
    <button class="btn btn-dark" type="submit" (click)="onSubmit.emit()">Add</button>
  </div>
</div>
