<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">Demo</a>
    <div class="nav-item">
      <button routerLink="products" class="btn btn-outline-light me-1">Products</button>
      <button routerLink="productDashboard" class="btn btn-outline-light me-1">Product Dashboard</button>
      <button routerLink="categories" class="btn btn-outline-light me-1">Categories</button>
      <button routerLink="categoryDashboard" class="btn btn-outline-light me-1">Category Dashboard</button>
    </div>
  </div>
</nav>
